* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --heading-background-color: #00008b;
    --heading-text-color: #ffffff;
    --border: 1px solid black;

}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img,
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    padding: 1rem;
}

aside {
    width: 50rem;
    text-align: center;
    position: relative;

}

aside h2 {
    position: absolute;
    bottom: 57px;
    right: 62px;
}

aside img {
    width: 150px;
    height: auto;

}

footer {
    margin-top: 35px;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 1rem;
    background-color: #c5c5c5;
    color: #000;
}

.right-space {
    padding: 2rem;
}